@model projeödevi.Models.Entity.kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    @using (Html.BeginForm("Guncelle", "Admin", FormMethod.Post))
            {

    <div class="form-group">
        @Html.LabelFor(m=>m.kategoriid)
        @Html.TextBoxFor(m=>m.kategoriid, new { @class = "form-control" })



        @Html.LabelFor(m=>m.kategoriad)
        @Html.TextBoxFor(m=>m.kategoriad, new { @class = "form-control" })


    </div>

    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
        }
  