@using projeödevi.Models.Entity
@model List<kategori>
@{
    ViewBag.Title = "Kategori";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>


        <tbody>
            @foreach (var ktgr in Model)
            {
                <tr>
                    <td>@ktgr.kategoriid</td>
                    <td>@ktgr.kategoriad</td>
                    <td><a href="/Admin/SIL/@ktgr.kategoriid" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Admin/KategoriGetir/@ktgr.kategoriid" class="btn btn-success">GUNCELLE</a></td>

                </tr>
            }
        </tbody>
  
    </table>
<a href="~/Admin/YeniKategori" class="btn btn-primary">YENİ KATEGORİ EKLE</a>
