@model  projeödevi.Models.Entity.Cart
<li>

    <a href="/Cart/Index"><span1 class="fas fa-shopping-cart"></span1> Sepet </a></span>[@Model.Cartlines.Count] Adet</a>
    <span class="badge badge-warning">@Model.Total().ToString("c")</span></a>
   
</li>
