@using projeödevi.Models.Entity
@model List <kayitol>
@{
    ViewBag.Title = "ÜyeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px;">
    <tr>
        <th> Üye ID</th>
        <th>Üye Adı</th>
        <th> Üye Mail</th>
        <th>Role</th>


      
    </tr>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.adsoyad</td>
                <td>@item.eposta</td>
                <td>@item.Role</td>



            

            </tr>
        }
    </tbody>

</table>

