
@{
    ViewBag.Title = "YeniMarka";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group"method="post">
    <div>
        <label>Marka Adı</label>
        <input type="text" class="form-control" name="markaad" />

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Marka  Ekle</button>
    </div>
</form>

